body {
    margin: 0;
    font-family: Arial, sans-serif;
}

nav {
    background-color: #333;
    color: #f47e0fe0;
    padding: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    margin: 0;
}

.search-container {
    display: flex;
    align-items: center;
   
}

.search-container input[type=text] {
    padding: 8px;
    margin-right: 10px;
    color: rgb(3, 3, 3);
    font-weight: bold;
    border-radius: 50px;
    
}

.search-container button {
    padding: 8px 15px;
    background-color: #4CAF50;
    border: none;
    border-radius: 35px;
    color: white;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #45a049;
    
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}
